---
title: About
---
<p>This site details progress on the Transport Accessibility project for Liverpool City Region Combined Authority, delivered by Open Innovations.</p>

<p>The <a href="/tasks">Tasks</a> page details the deliverables as per the agreed project proposal.</p>

<p>The <a href="/visualisations/new">Visualisations</a> page shows example outputs for travel time isochrones in Liverpool City Region.</p>

<p>The <a href="/qa">Quality Assurance</a> page details our QA process.</p>