[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gtfs-realtime-bindings = "*"
jupyter = "*"
notebook = "*"
ipykernel = "*"
protobuf-to-dict = "*"
protobuf = "*"
pandas = "*"
gtfs-functions = "*"
keplergl = "*"
ipywidgets = "*"
plotly = "*"
gtfs-kit = "*"
matplotlib = "*"
geopandas = "*"
shapely = "*"
numba = "*"
petl = "*"
duckdb = "*"
seaborn = "*"
pyproj = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.12"
