[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gtfs-realtime-bindings = "*"
jupyter = "*"
notebook = "*"
ipykernel = "*"
protobuf-to-dict = "*"
protobuf = "*"
pandas = "*"
ipywidgets = "*"
matplotlib = "*"
geopandas = "*"
shapely = "*"
seaborn = "*"
pyproj = "*"
openpyxl = "*"
pytz = "*"
papermill = "*"

[dev-packages]

[requires]
python_version = "3.12"
