<div class='warning'>
<details>
    <summary class='padded'><h3 class='centred'>Task {{ number }}</h3>
        <p>{{ summary }}</p>
    </summary>
    <div class='padded'>
    <p>{{ details }}</p>
    </div>
</details>
</div>